.health-tips {
  background-color: #fff;
  .my-image-wrap {
    background-color: #fff;
    padding: 0;
  }
  .content {
    padding: 0 60rpx;
    .title {
      padding: 36rpx 60rpx 20rpx 60rpx;
      font-size: 16px;
      text-align: center;
      color: #333;
    }
    .details {
      font-size: 14px;
      text-indent: 28px;
      text-align: left;
      color: #666;
    }
    .sub {
      padding:28rpx 0 60rpx 0;
      font-size: 12px;
      text-align: left;
      color: #999;
    }
  }
}