/* 基础
-------------------------------------------------- */
.mt10 {
  margin-bottom: 10rpx;
}
.plr30 {
  padding: 0 30rpx;
}
.pb96 {
  padding-bottom: 96rpx;
}

/* 自定义组件
-------------------------------------------------- */